<div id="index-banner" class="parallax-container chico">
  <div class="section no-pad-bot">
    <div class="container">
      <h2 class="header white-text sweet shadow-text">Mesa de regalos</h2>
      <!-- <div class="row">
        <h2 class="amatic white-text shadow-text"><b>¿Planeas darnos un regalo?</b></h2>
        <h2 class="amatic white-text shadow-text"><b>Aquí hay algunas sugerencias.</b></h2>
      </div> -->
      <div class="row center">
        <button type="button" class="btn-large waves-effect waves-light teal lighten-1 txtLarge"
                *ngIf="sesion()" (click)="mostrarEditor()">
          <span *ngIf="!editor">Agregar Regalo</span>
          <span *ngIf="editor">Cerrar</span>
        </button>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="../../assets/img/bg/regalos1.jpg"></div>
</div>

<div class="espacio-doble"></div>

<div class="container roboto-light" *ngIf="editor">
  Agregar
  <form [formGroup]="articulosForm" (ngSubmit)="guardaArticulo()" novalidate>
    <select class="browser-default"
            *ngIf="categorias.length > 0"
            formControlName="categoria">
      <option value="0" selected disabled>* Categoría</option>
      <option value="{{ item.TIA_clave }}" *ngFor="let item of categorias">{{ item.TIA_nombre }}</option>
    </select>

    <div class="input-field">
      <input id="Nombre" type="text" class="validate"
             [ngClass]="{'invalid': !articulosForm.controls.nombre.valid && !articulosForm.controls.nombre.pristine }"
             formControlName="nombre">
      <label for="Nombre">Nombre</label>
    </div>

    <div class="input-field">
      <input id="desc" type="text" class="validate"
             formControlName="descripcion">
      <label for="qwerty">Descripción</label>
    </div>

    <div class="input-field">
      <input id="url" type="text" class="validate"
             formControlName="enlace">
      <label for="qwerty">Enlace</label>
    </div>

    <div class="file-field input-field">
      <div class="btn">
        <span>Imagen</span>
        <input type="file" accept="image/*" id="imagen"
               (change)="alSeleccionarArchivo($event)" #fileInput>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

    <div class="progress" *ngIf="trabajando">
        <div class="indeterminate"></div>
    </div>

    <div class="row">
      <button class="btn waves-effect waves-light btn-large" type="submit" name="action"
              [ngClass]="{ 'disabled': !articulosForm.valid || trabajando }">
        Enviar
        <i class="mdi mdi-send"></i>
      </button>
    </div>
  </form>
</div>

<div class="espacio-doble"></div>

<div class="container">
  <div class="row">
    <div class="col s6 m3 l3">
      <div class="card" (click)="ctrlRecamara()">
        <div class="card-image waves-effect waves-block waves-light center-align">
          <img class="activator" src="../../assets/img/bg/bedroom2.jpg">
          <span class="card-title shadow-text"><b>Recámara</b></span>
        </div>
      </div>
    </div>

    <div class="col s6 m3 l3">
      <div class="card" (click)="ctrlSala()">
        <div class="card-image waves-effect waves-block waves-light center-align">
          <img class="activator" src="../../assets/img/bg/sala2.jpg">
          <span class="card-title shadow-text"><b>Sala</b></span>
        </div>
      </div>
    </div>

    <div class="col s6 m3 l3">
      <div class="card" (click)="ctrlCocina()">
        <div class="card-image waves-effect waves-block waves-light center-align">
          <img class="activator" src="../../assets/img/bg/kitchen2.jpg">
          <span class="card-title shadow-text"><b>Cocina</b></span>
        </div>
      </div>
    </div>

    <div class="col s6 m3 l3">
      <div class="card" (click)="ctrlOtros()">
        <div class="card-image waves-effect waves-block waves-light center-align">
          <img class="activator" src="../../assets/img/bg/bathroom1.jpg">
          <span class="card-title shadow-text"><b>Otros</b></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="espacio-doble"></div>

<div class="container">
  <div class="row" *ngIf="recamara || sala || cocina || otros">
    <div class="espacio"></div>
    <ng-container *ngFor="let item of articulos">
      <div class="col s12 m12 l6"
           *ngIf="( item.TIA_clave === categoria && item.ART_apartado === 0 && !sesion() ) || ( item.TIA_clave === categoria && sesion() )">
        <!-- inicia la prueba -->
        <div class="card medium z-depth-3">
          <div class="card-image" *ngIf="item.ART_img">
            <img src="http://gusykriss.hol.es/imgArticulos/{{ item.ART_img }}">
            <span class="card-title sweet txtXL shadow-text">
              {{ item.ART_nombre | slice:0:1 | uppercase }}{{ item.ART_nombre | slice:1 | lowercase }}
            </span>
          </div>
          <div class="card-content">
            <span class="card-title sweet txtXL" *ngIf="!item.ART_img">
              {{ item.ART_nombre | slice:0:1 | uppercase }}{{ item.ART_nombre | slice:1 | lowercase }}
            </span>
            <p class="roboto-light">
              <span *ngIf="item.ART_descripcion">
                {{ item.ART_descripcion }}
              </span>
              <span *ngIf="!item.ART_descripcion">---</span>
              <span *ngIf="item.ART_url">
                | <a href="{{ item.ART_url }}" target="_blank">Aquí hay un ejemplo <i class="mdi mdi-open-in-new"></i></a>
              </span>
            </p>

            <p class="roboto-light right-align"
               *ngIf="item.ART_apartado === 1">
              <b>Apartado por {{ item.ART_donador | uppercase }}</b>
            </p>
          </div>
          <div class="card-action">
            <button class="btn waves-effect waves-light pink lighten-3 txtMedium" type="button"
                    (click)="apartaRegalo( item )"
                    *ngIf="item.ART_apartado === 0">
              Apartar
            </button>
            <button class="btn waves-effect waves-light red darken-4 txtMedium" type="button"
                    (click)="eliminaRegalo( item )"
                    *ngIf="sesion()">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="espacio-doble"></div>


<!-- Modal Aparta Articulo -->
<div id="modalAparta" class="modal">
  <form [formGroup]="donadorForm" (ngSubmit)="confirmaApartado()" novalidate>
    <div class="modal-content roboto-light">
      <span class="txtMedium">
        <b>{{ porApartar.ART_nombre }}</b>
        <small>
          <span *ngIf="porApartar.ART_descripcion">
            {{ porApartar.ART_descripcion }}
          </span>

          <span *ngIf="porApartar.ART_img">
            | <a href="http://gusykriss.hol.es/imgArticulos/{{ porApartar.ART_img }}" target="_blank">Ver imagen <i class="mdi mdi-open-in-new"></i></a>
          </span>
        </small>
      </span>

      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="mdi mdi-account-star prefix"
             [ngClass]="{'invalid': !donadorForm.controls.nombre.valid && !donadorForm.controls.nombre.pristine }"></i>
          <input id="nombre" type="text" class="validate"
                 [ngClass]="{'invalid': !donadorForm.controls.nombre.valid && !donadorForm.controls.nombre.pristine }"
                 formControlName="nombre">
          <label for="nombre">Tu nombre</label>
          <!-- <p *ngIf="porApartar.ART_img"> <a href="http://gusykriss.hol.es/imgArticulos/{{ porApartar.ART_img }}" target="_blank">Ver imagen</a> </p> -->
        </div>

        <!-- <div class="input-field col s12 m6 l6">
          <i class="mdi mdi-mailbox prefix"></i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Déjanos un mensaje (opcional)</label>
        </div> -->
        <div class="progress" *ngIf="trabajando">
            <div class="indeterminate"></div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn modal-action modal-close waves-effect waves-light red">Cancelar</button>
      <button type="submit" class="btn waves-effect waves-light"
              [ngClass]="{'disabled': !donadorForm.valid || trabajando }">
        Apartar
      </button>
    </div>
  </form>
</div>
