<footer class="page-footer {{ colors.footer }}">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="{{ colors.footerPrimary }}">Footer Content</h5>
        <p class="{{ colors.footerSecondary }}">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="{{ colors.footerPrimary }}">Links</h5>
        <ul>
          <li><a class="{{ colors.footerLink }}" href="#!">Link 1</a></li>
          <li><a class="{{ colors.footerLink }}" href="#!">Link 2</a></li>
          <li><a class="{{ colors.footerLink }}" href="#!">Link 3</a></li>
          <li><a class="{{ colors.footerLink }}" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container {{ colors.footerSecondary }}">
    © 2014 Copyright Text
    <a class="{{ colors.footerLink }} right" href="#!">More Links</a>
    </div>
  </div>
</footer>
