<a class="waves-effect waves-light btn">button</a>
<br>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>



      
    <div class="parallax-container">
      <div class="parallax"><img src="https://www.ecestaticos.com/imagestatic/clipping/0dc/c55/0dcc5530a38c0f5cf0396118533c5d88/la-clasificacion-para-el-mundial-de-rusia-2018-en-directo-espana-israel.jpg?mtime=1490208542"></div>
    </div>

<img class="materialboxed" width="650" src="https://lumiere-a.akamaihd.net/v1/images/uk_cars3_flex-hero_header_m_f43f74ef.jpeg?region=0,0,640,350">

    
      <br>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>