<script src="../../assets/js/init.js"></script>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text sweet shadow-text">¡Nos casamos!</h1>
      <div class="row center">
        <h5 class="amatic white-text shadow-text">{{ fechaBoda }}</h5>
      </div>
<!--         <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div> -->
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../../assets/img/bg/boda2.jpg"></div>
</div>

<div class="espacio-doble"></div>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12 center-align">
      {{ countdonw }}
    </div>
  </div>
</div>

<div class="espacio-doble"></div>

<div class="container roboto-light">
	<h4 class="sweet">La cita es en:</h4>
  <h5 class="amatic">Eventos sociales Samy's</h5>
  <p>Av. Benito Juárez #190, Francisco Villa, Iztapalapa, 09720 Ciudad de México, CDMX.</p>
</div>

<div class="espacio-doble"></div>
