/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Amatic SC', cursive;
}

body, app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

@font-face {
    font-family: 'Sweet Pea';
    src: url('assets/fonts/sweet.ttf');
}

.roboto-light{
  font-family: 'Roboto Condensed';
  font-size: 1.2em;
}

.amatic{
  font-family: 'Amatic SC';
  font-size: 2em;
}

.sweet{
  font-family: 'Sweet Pea';
}

.gold{
  color: #B8860B !important;
}

.parallax-container {
  /*height: 400px !important;*/
}

.shadow-text{
  text-shadow:  5px 5px 30px rgba(0,0,0,0.5);
}

.espacio-simple{
  height: 1em;
}

.espacio-doble{
  height: 2em;
}

.txtMedium{
  font-size: 1.5em !important;
}

.txtLarge{
  font-size: 2em !important;
}
